<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div id="app">
        <p v-if="isVisible">Text Show</p>
        <p v-else>Text hidden</p>

        <!-- <button @click="toggleText">Toggle Text</button> -->

        <button @click="isVisible = !isVisible">Toggle Text</button>

        

        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>

        <ul v-if="fruits.length < 0">
            <li v-for="(fruit,index) in fruits">{{index}} - {{fruit}}</li>
        </ul>

        <p v-else>No items found</p>

        <ul>
            <li>{{person.name}} - {{person.age}}</li>
            <li v-for="mark in person.marks">{{mark.subject}} : {{mark.score}}</li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>
        new Vue({
            el: "#app",
            data: {
                isVisible: true,
                items: [1, 2, 3, 4, 5],
                fruits: ["Apple", "Banana", "Orange", "Pineapple"],
                person: {
                    name: "Kishore",
                    age: 32,
                    marks: [
                        {
                            subject: "Tamil",
                            score: 95
                        },
                        {
                            subject: "English",
                            score: 88
                        },
                        {
                            subject: "Maths",
                            score: 92
                        }
                    ]
                }
            },
            methods: {
                toggleText() {
                    this.isVisible = !this.isVisible
                }
            }
        });
    </script>

    
</body>
</html>